<!DOCTYPE HTML>
<html>
	<head>
		<title>Projection by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	</head>
	<body>	
			<header id="header">
				<div class="inner">
					<a href="index.html" class="logo"><strong>VideoApp</strong> by Sobhit</a>
					<nav id="nav">
						<a href="/">Home</a>
						<a href="/api/users">Login/SignUp</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>		
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Welcome to Video Conference App</h1>
					</header>

					<div class="flex ">

						<div>
							<span class="icon fa-car"></span>
							<h3>Efficient</h3>
							<p>Create a room id to share and invite</p>
						</div>

						<div>
							<span class="icon fa-camera"></span>
							<h3>Quality</h3>
							<p>High quality</p>
						</div>

						<div>
							<span class="icon fa-bug"></span>
							<h3>Quick</h3>
							<p>Just sign up and start video chatting</p>
						</div>

					</div>

					<footer>
						<a href="/api/users" class="button">Get Started</a>
					</footer>
				</div>
			</section>



		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>